<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin.css">
    <title>Admin</title>
</head>
<body>
    <div id="page-admin">
        <a href="/"><img class="logo" src="assets/logo.jpg" alt="Logomarca"></a>
        <fieldset>
            <h1>Jogadores Candidatados</h1>
            <table>
                <thead>
                    <tr> 
                        <th>Nome</th> 
                        <th>Nick</th>
                        <th>Discord</th>
                        <th>Jogo</th> 
                    </tr>
                </thead>
                <tbody>
                    <tr> 
                        <td>Phelipe</td> 
                        <td>phelipecomph</td>
                        <td>Phelipe com Ph#3057</td> 
                        <td>lol</td> 
                    </tr>
                    <tr> 
                        <td>Agelica</td> 
                        <td>ToonAngel</td>
                        <td>Toon Angel#2902</td> 
                        <td>lol</td> 
                    </tr>
                    <tr> 
                        <td>Pedro</td> 
                        <td>Slayermon</td>
                        <td>Slayermon#4502</td> 
                        <td>fort</td> 
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</body>
</html>